<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond   %{REQUEST_FILENAME} ^((?!\/var\/www\/html\/api).*)$
    RewriteCond   %{REQUEST_FILENAME} !-f
    RewriteRule   ^((?s).*)$ index.html [END]
    
    RewriteCond   %{REQUEST_FILENAME} ^((?=\/var\/www\/html\/api).*)$
    RewriteRule   ^((?s).*)$ index.php [END]
</IfModule>